<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>상세페이지</title>
</head>
<body>
<h2>새로운 영화 개봉</h2>
<div>
    <strong> Name</strong> : <span th:text="${board.name}"></span>
</div>
<div>
    <strong> Content </strong> : <span th:text="${board.content}"></span>
</div>
<div>
    <strong> Created At </strong> : <span th:text="${#temporals.format(board.createdAt, 'YYYY/MM/dd hh:mm')}"></span>
</div>
<a th:href="@{/list}">List</a>
<a th:href="@{/updateform(id=${board.id})}">Edit</a>
<a th:href="@{/deleteform(id=${board.id})}">Delete</a>
</body>
</html>