<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>게시판 등록</title>
</head>
<body>
<h1>Create a New Board</h1>
<form th:action="@{/writeform}" method="post" th:object="${board}">
    <label for="name">Name</label>
    <div>
        <input type="text" id="name" th:field="*{name}" required>
    </div>

    <label for="title">Title</label>
    <div>
        <input type="text" id="title" th:field="*{title}" required>
    </div>

    <label for="content">Content</label>
    <div>
        <input type="text" id="content" th:field="*{content}" required>
    </div>

    <label for="password">Password</label>
    <div>
        <input type="text" id="password" th:field="*{password}" required>
    </div>

    <input type="submit" value="Creats">

</form>
</body>
</html>