<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>게시물 수정</title>
</head>
<body>
<h1>Update Board</h1>
<form th:action="@{/update}" th:object="${board}" method="post">
    <input type="hidden" th:field="*{id}">
    <label for="name">Name </label>
    <div>
        <input type="text" id="name" th:field="*{name}" required />
    </div>

    <label for="title">Title </label>
    <div>
        <input type="text" id="title" th:field="*{title}" required />
    </div>

    <label for="content">Content </label>
    <div>
        <input type="text" id="content" th:field="*{content}" required />
    </div>

    <label for="password">Password(for verification) </label>
    <div>
        <input type="text" id="password" th:field="*{password}" required />
    </div>

    <input type="submit" value="Update">
</form>
</body>
</html>